<form id="signup" {{on "submit" this.signup}}>
    <h2>Sign Up</h2>

    <label for="signup-username">Username:</label>
    <Input @value={{this.username}} placeholder="Username" />

    <label for="signup-password">Password:</label>
    <Input @value={{this.password}} type="password" placeholder="Password"/>

    <label for="signup-email">Email:</label>
    <Input @value={{this.email}} type="email" placeholder="Email" />

    <div id="artist-checkbox">
        <label for="signup-artist">Are you an Artist?</label>
        <Input @type="checkbox" @checked={{this.isArtist}} />
    </div>

    <input type="submit" class="submit-input-signup-login" value="Sign Up" />
</form>